<header>
    <div id="header">
        <h1><a title="{{ site.title }}" class="" href="/">{{ site.title }}</a></h1>
    </div>
    <nav>
        <span><a title="Archive" class="fa fa-archive" href="/archive"></a></span>
        <span><a title="Tags" class="fa fa-tags" href="/tags"></a></span>
        <span><a title="About" class="fa fa-user" href="/about"></a></span>
        <span><a title="Gallery" class="fa fa-photo" href="{{ site.photo }}"></a></span>
        <span><a title="Contact" class="fa fa-users" href="/contact"></a></span>
        <span><a title="Subscribe" class="fa fa-rss" href="/feed.xml"></a></span>
    </nav>
</header>
