<header>
    <div id="header">
        <h1><a title="{{ site.name }}" class="" href="/">{{ site.title }}</a></h1>
    </div>
    <nav>
        <span><a title="Archive" class="fa-list-ul" href="/archive"></a></span>
        <span><a title="Tags" class="fa-tags" href="/tags"></a></span>
        <span><a title="About" class="fa-user" href="/about"></a></span>
        <span><a title="Gallery" class="fa-film" href="http://www.flickr.com/photos/finalangels/"></a></span>
        <span><a title="Contact" class="fa-link" href="/contact"></a></span>
        <span><a title="Subscribe" class="fa-rss" href="/feed.xml"></a></span>
    </nav>
</header>
